
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="~/Assets/Login/main.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
